:root {
    --font-color: #0a0a0a;
    --background-color: #fff;
}
   
[data-theme='dark'] {
    --font-color: #eee;
    --background-color: #333;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

input {
    width: 98%;
    height: 20px;
    border-radius: 8px;
    border: 0px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 98%;
    border-radius: 8px;
    border: 0px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
}

h4 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

p {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.navbar {
    background-color: transparent;
    padding: 10px;
}

.text-navbar {
    text-decoration: none !important;
    color: var(--font-color);
}

.container {
    padding: 10px 120px;
}

.spread-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-center {
    display: flex;
    justify-content: center;
}

.right-element {
    display: flex;
    justify-content: right;
}

.subtitle {
    color: #7e7e7e;
    font-size: 12px;
}

.body {
    margin-top: 10px;
}

[data-theme='light'] .notes-list {
    padding: 10px;
    margin: 10px 0px;
    border-radius: 15px;
    background-color: #f5f5f5;
    vertical-align: top;

}

[data-theme='dark'] .notes-list {
    padding: 10px;
    margin: 10px 0px;
    border-radius: 15px;
    border: 1px solid #7e7e7e;
    vertical-align: top;
}

[data-theme='light'] .form-container {
    /* border: 1px solid #FFBB5C; */
    background-color: #FFBB5C;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 40px;
}

[data-theme='dark'] .form-container {
    /* border: 1px solid #FFBB5C; */
    background-color: #7e7e7e;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 40px;
}

.submit-button {
    padding: 12px;
    border-radius: 8px;
    border: 0;
    background-color: #E25E3E;
    color: #FFF;
    margin: 20px 0px;
}

.delete-button {
    padding: 8px 12px;
    border-radius: 8px;
    border: 0;
    background-color: #C63D2F;
    color: #FFF;
}

.basic-button {
    padding: 8px 12px;
    border-radius: 8px;
    border: 0;
    background-color: transparent;
    color: var(--font-color);
}

.parent-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 80vh;
}